.login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.button {
  width: 140px;
  padding: 3px;
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover {
  background-color: blue;
}

.input_conteiner {
  display: flex;
  flex-direction: column;
}
